<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iam.oneom">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application android:allowBackup="true"
        android:name=".pages.OneOm"
        android:label="@string/app_name"
        android:icon="@drawable/one_om"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:screenOrientation="landscape"
        android:configChanges="orientation|keyboardHidden"
        android:theme="@style/AppTheme">

        <service android:name=".core.update.Updater" />


        <activity
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.episodes.EpisodeListActivity">

        </activity>

        <activity
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:screenOrientation="landscape"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
            <!--android:name=".pages.main.episode.EpisodePageActivity" />-->
        <activity
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.search.online.vodlocker.VodlockerSearchActivity" />
        <activity
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.episode.EpisodePageActivity" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:name="com.iam.oneom.pages.main.PlayerActivity" />
        <activity
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.SerialPageActivity" />
        <activity
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.WebViewActivity" />
        <activity
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.serial.SerialSearchActivity" />
        <activity
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.episode.EpisodeSearchActivity" />
        <activity
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.search.NoSourceActivity" />
        <activity
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.episode.EpisodeRelatedItemsActivity" />
        <activity
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".pages.main.search.online.naya.NayaSearchActivity" />

    </application>

</manifest>
